@import "_reset.css";
@import "_fonts.css";

/* BEGIN Centering container */

.container {
  max-width: 1000px;
  padding: 25px 20px 100px;
  margin: 0 auto;
}

/* END Centering container */

/* BEGIN style of basic tags */

html {
  font-size: 12px;
}

body {
  font-family: Arial, sans-serif; 
}

h2 {
  margin-bottom: 15px;
  font-size: 1.667rem;
  font-weight: bold;
  line-height: 2rem;  
}

p {
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

hr {
  margin: 0;
  border: 1px solid #D9D9D9;
}

/* END style of basic tags */

/* BEGIN article */

.article {
  width: 590px;
  margin-bottom: 30px;
}

.article-img {
  float: left;
  max-width: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #efefef;
  border-radius: 3px;
}
  .article-img img {
    border-radius: 3px;
  }
  .article-img p {
    padding: 5px 10px;
    font-size: 0.917rem;
    color: #686868;
  }

.article-link {
  text-decoration: none;
  color: #005ab7;
  border-bottom: 1px solid #c8e0fd;
}
  .article-link:hover {
    color: #f50017;
    border-bottom-color: #F7A7A7;
  }

/* END article */

/* BEGIN nav */

.nav {
  width: 150px;
  margin: 30px 0;
}

.nav-list:hover > .nav-list__item {
  opacity: 0.5;
}

.nav-list:hover > .nav-list__item:hover {
  color: #000;
  opacity: 1;
}

.nav-list__item {
  width: 150px;
  margin-top: 5px;
}

.sprite {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
  padding-right: 10px;
}

.nav-list__link {
  height: 30px;
  line-height: 30px;
  display: block;
  border: none;
  color: #000;
}

/* END nav */

/* BEGIN cards-grid */
.cards-grid {
  text-align: center;
}

.card {
  display: inline-block;
  vertical-align: top;  
  width: 200px;
  margin: 15px;
}

.card__title {
  color: #0076d1;
  font-size: 1.25rem;
  font-family: "PT Sans";
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__img {
  margin: 10px 0;
}

.card__text {
  line-height: 1.333rem;
}

/* END cards-grid */