.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-briefcase {
    width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-bulb {
    width: 14px;
    height: 16px;
    background-position: -29px -5px;
}

.sprite-chat {
    width: 16px;
    height: 16px;
    background-position: -53px -5px;
}

.sprite-clock {
    width: 16px;
    height: 16px;
    background-position: -79px -5px;
}

.sprite-folder {
    width: 16px;
    height: 16px;
    background-position: -105px -5px;
}

.sprite-home {
    width: 16px;
    height: 16px;
    background-position: -131px -5px;
}

.sprite-inbox {
    width: 16px;
    height: 16px;
    background-position: -157px -5px;
}

.sprite-lifebuoy {
    width: 16px;
    height: 16px;
    background-position: -183px -5px;
}

.sprite-monitor {
    width: 16px;
    height: 16px;
    background-position: -209px -5px;
}

.sprite-user {
    width: 16px;
    height: 16px;
    background-position: -235px -5px;
}
